
@charset "UTF-8";
/*
cod css para o menu de navegação flutuar por cima da página e ficar alinhado à direita 
    nav#menu {
    padding: 5px;
    text-align: left;
    float: right;
    margin: 10px 270px 50px 100px;
    background-color: #f5f5f5;
    margin: auto;
    border-radius: 15px;
    box-shadow: #050505 0px 0px 10px;
*/
/* cod para carregar imagen de fundo de tela
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    padding: 10;
    background-image: url(sitecentro/imagens-para-o-site/fundo.jpg);
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    font: 12pt;
    width: 100%;
    margin: auto;
    height: 100%;
    font-size: 12pt;
    background-image: linear-gradient(rgba(34, 34, 143, 0.795),rgba(119, 117, 117, 0.596),rgba(34, 34, 143, 0.795));
}*/
body {/* Inicio das configurações de estilo do site*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    background-image: linear-gradient(rgba(34, 34, 143, 0.795),rgba(119, 117, 117, 0.596),rgba(34, 34, 143, 0.795));
    background-image: url(sitecentro/imagens-para-o-site/fundo.jpg);
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
   /* min-width: 590px;*/
    display: block;
    padding: 0px 2px 0px 2px;
    margin: auto auto 0px auto;
    
    
} /* O boby está responsivo a todas as telas testasdas*/

h1{
    font-size: 36px;
    font-weight: bold;
    font-variant: small-caps;
    color: #10039af8;
    margin: 5px 0px 15px 0px;
    text-align: center;
    font-style: italic;
    text-shadow: #ebdd126f 1px 1px 0px;
}

h2{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    text-align: center;
    color: #10039af8;
    text-shadow: #ebdd126f 1px 1px 0px;
}

h3{
    text-indent: 50px;
    font-size: 20px;
    font-weight: bold;
    margin: 2px 0px 8px 0px;
    color: #10039af8;
    text-shadow: #ebdd126f 1px 1px 0px;
}

p{
    font-size: 16px;
    text-indent: 20px;
    text-align: justify;
    margin-bottom: 1em;
}/* final das configurações  gerais de estilo do site*/

header {/* Inicio das configurações de estilo do cabeçalho do site*/
    background-color: rgba(252, 252, 255, 0.658);
    border-radius: 5px 5px 1px 5px;
    box-shadow: #050505 0px 0px 10px;
    padding: 5px;
    font-size: 16px;
    margin: auto auto 3px auto;   
}

div#lg > q {
    color: #1917a3d8;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin: auto;
    padding: 2px;
    text-shadow: #ebdd126f 1px 1px 0px;
}

div#lg > img {
    width: 172px;
    height: 70px;
    margin-top: 3px;
    margin-bottom: 1px;
}

header > div {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

div#lg {
    justify-items: left;
}

div#cntto {
    margin: 50px 0px 0px 0px;
}

div#cntto > a {
    padding-right: 5px;
}/* final das configurações de estilo do cabeçalho do site*/

nav#menu {/* Inicio das configurações de estilo do menu do site*/
    padding: 5px;
    text-align: left;
    float: right;
    background-color: #e4e4e4ab;
    border-radius: 0px 0px 5px 5px;
    box-shadow: #050505 0px 0px 5px;
    }
    
nav#menu > a {
    font-style: italic;
    font-weight: bolder;
    padding: 0px 5px 0px 5px;
    text-decoration: none;  
    border-radius: 0px 0px 5px 5px;
    color: #1917a3d8;
    text-shadow: #ebdd126f 1px 1px 0px;
}

nav#menu > a:hover {
    background-color: #ebdc12;
    color: #0000ff;
    font-style: italic;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 0px 0px 5px 5px;
    box-shadow: #ebdc12 1px 1px 10px;
}

span#menu-burguer{
    display: none;
}

/* final das configurações de estilo do menu do site*/

main { /* inicio das configurações de estilo do corpo do site*/
    margin: 148px auto;
    min-width: 270px;
    max-width: 800px;
    padding: 20px;
    background-color: #f5f5f5d7;
    border-radius: 5px 15px 5px 15px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

article {
    padding-top: 15px;
    padding-bottom: 5px;
}

picture{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 10px;
    box-shadow: #0505050e 1px 1px 1px 1px;
    background-color:#0000007c ;
    padding-bottom: 10px;
}

.seguros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.seguro {
    box-shadow: #0505050e 1px 1px 1px 1px;
    background-color:#fefbfb7c ;
    width: 200px;
    height: 200px;
    border-radius: 5px;   
}

div#fidelidade{
    background-image: url(sitecentro/fotos-do-seguros/fidelidade.png);
    background-position: center;
    background-size: contain;
}
div#ensa{
    background-image: url(sitecentro/fotos-do-seguros/ensa.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
div#saudemais{
    background-image: url(sitecentro/fotos-do-seguros/saudemais1.png);
    background-position: center;
    background-size: contain;
}
div#nossa{
    background-image: url(sitecentro/fotos-do-seguros/nossa.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
div#mediplus{
    background-image: url(sitecentro/fotos-do-seguros/Logo_Mediplus.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
div#bic{background-image: url(sitecentro/fotos-do-seguros/bic.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
div#metcare{background-image: url(sitecentro/fotos-do-seguros/metcare.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
div#trevo{background-image: url(sitecentro/fotos-do-seguros/TREVO.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
div#tranquilidade{background-image: url(sitecentro/fotos-do-seguros/tranquilidade.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
div#viva{background-image: url(sitecentro/fotos-do-seguros/VIVA.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
div#sanlam{background-image: url(sitecentro/fotos-do-seguros/sanlam.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
div#protejja{background-image: url(sitecentro/fotos-do-seguros/protejja1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
div#global{background-image: url(sitecentro/fotos-do-seguros/global.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
div#prudencial{background-image: url(sitecentro/fotos-do-seguros/prudencial.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
div#hmc{background-image: url(sitecentro/fotos-do-seguros/hmc.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
div#unisaude {background-image: url(sitecentro/fotos-do-seguros/unisaude.png);
background-position: center;
background-size: contain;
background-repeat: no-repeat;
}
div#sol {background-image: url(sitecentro/fotos-do-seguros/SOL.png);
background-position: center;
background-size: cover;
}
div#alianca {background-image: url(sitecentro/fotos-do-seguros/Alianca-Seguros.png);
background-position: center;
background-size: contain;
background-repeat: no-repeat;}

.inf-servicos {
    padding-bottom: 10px;
}

.servicos {
    position: relative;
    box-shadow: inset #05050530 2px 2px 2px 2px;
    max-width: 800px;
    height: 290px;
    border-radius: 5px 15px 5px 15px;
    margin-bottom: 25px;
}

section#consulta {
    background-image: url(sitecentro/imagens-para-o-site/consulta.jpg);
    background-position: center;
    background-size: cover;  
}

section#laboratorio {
    background-image: url(sitecentro/imagens-para-o-site/laboratorio0.png);
    background-position: center left;
    background-size: cover;
}

section#ecografia {
    background-image: url(sitecentro/imagens-para-o-site/ecografia2.jpg);
    background-position: center ;
    background-size: cover;
}

section#rx {
    background-image: url(sitecentro/imagens-para-o-site/rx2.jpg);
    background-position: center left;
    background-size: cover;
}

section#cardiologia {
    background-image: url(sitecentro/imagens-para-o-site/cardiologia1.jpg);
    background-position: top center;
    background-size: cover;
}

section#fisioterapia {
    background-image: url(sitecentro/imagens-para-o-site/fisioterapia.jpg);
    background-position: center right;
    background-size: cover;
}

.descricao_servicos {
    background-color:#0000007c ;
    max-width: 150vh;
    height: 270px;
    line-height: 1.5em;
    border-radius: 5px 15px 5px 15px;
    padding: 10px;
}

.lista_inf {
    color: #d4d11e;
    text-shadow: rgb(14, 13, 13) 1px 1px ;   
}

.lista_inf > h3 {
    color: #d4d11e;
    text-shadow: rgb(14, 13, 13) 1px 1px ;
}

.lista_inf > h2 {
    color: #d4d11e;
    text-shadow: rgb(14, 13, 13) 1px 1px ;
}

.lista_inf > li {
    margin-left: 10px; 
    color: #d4d11e;
    text-shadow: rgb(14, 13, 13) 1px 1px ;
}

.horario {
    background-color:#0000007c ;
    width: 770px;
    height: 300px;
    border-radius: 15px;
    box-shadow: #05050530 1px 1px 1px 1px;
}

#lista_horario > li{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 60px;
    padding: 7px 0px;
    border-bottom: 1px solid burlywood;  
}

a#link-lista {
    color: #d4d11e;
    font-weight: bolder;
    text-shadow: rgb(14, 13, 13) 1px 1px ;
}

.fechado {
    color: rgb(174, 41, 0);
    text-shadow: rgb(14, 13, 13) 1px 1px ;
    font-weight: bolder; 
}

.contato {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.bloco_inf {
    width: 350px;
    height: 310px;
    background-color: #0000007c ;
    padding: 10px;
    border-radius: 15px;
    box-shadow: inset #05050530 1px 1px 1px 1px;
    justify-content: center;
}

div#bloco1 {
    background-image: url(sitecentro/imagens-para-o-site/front_cmm.jpeg);
    background-size: cover; 
    background-position: center;
}

div#bloco2{
    background-image: url(sitecentro/imagens-para-o-site/front_cm.jpeg);
    background-size: cover;
    background-position: center;
}

.inf_localizacao {
   background-color: #0000007c ; 
   border-radius: 15px;
   box-shadow: #05050530 1px 1px 1px 1px;
}

.mapbox {
    background-color: #f5f5f543;
    padding: 2px;
    border-radius: 15px;
    box-shadow: #05050530 1px 1px 1px 1px;  
}

.centrom {
    width: 600px;
    height: 500px;
    border-radius: 15px;

}
/* final das configurações de estilo do corpo do site*/

footer {/* inicio das configurações de estilo do rodapé do site*/
    background-color: #f5f5f590;
    border-radius: 5px 5px 5px 5px;
    box-shadow: #0505057a 0px 0px 10px;
    height: 50px;
    padding: 5px;
    margin-top: 5%;  
}

.rodape > p {
    text-align: center;
    font-size: 12px;
    color: #000000;
    margin: 1px auto auto auto;
}

footer > div {
    display: grid;
    grid-template-columns:0.5fr 3fr 1fr;
    padding: 3px;  
}

.rodape > a {
    padding-right: 3px; 
      
}

div#cruz {
    width: 50px;
}
div#cruz > img {
    padding-left: 5px;
}
/* final das configurações de estilo do rodapé do site*/

